.app-header {
    background-color: #121213;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.6rem;
    width: 100%;
    border-bottom: 1px solid grey;
}

.app-header .title {
    flex-grow: 4;
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    text-align: center;
}

.app-header > div {
    padding: 0.3rem;
}

.stats, .settings {
    cursor: pointer;
}