@use '../../base' as b;

.game-board {
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (min-width: 600px) {
        margin-top: 6rem;
        margin-bottom: 6.5rem;
    }
}

.stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .data {
        margin: 0.5rem 1rem;
        height: 4.5rem;

        .count {
            font-size: xx-large;
        }

        .label {
            font-size: x-small;
            max-width: 2.5rem;
        }
    }
}

.word {
    display: flex;
    font-style: italic;
    background-color: b.$word-bg-color;
    padding: 0.3rem 1rem;
    color: b.$word-color;
    width: fit-content;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}

.guess-distribution {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .distribution {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        padding: 0.5rem 1.5rem;
        width: 80%;

        @media only screen and (min-width: 600px) {
            padding: 0.5rem 3rem;
        }
    }
}


.distribution {
    
    .row {
        margin: 0.5rem 0;
        display: flex;
    }

    .bar {
        width: 80%;

        label {
            padding: 0.1rem 0.2rem;
            background-color: b.$stat-bar-bg-color;
            margin-left: 0.2rem;
            display: inline-block;
            text-align: right;
            min-width: fit-content;
    
            @media only screen and (min-width: 600px) {
                margin-left: 0.3rem;
            }
    
            &.highlight {
                background-color: b.$stat-bar-hl-color;
            }
        }
    }
}
