@use '../../base' as b;

.game-keyboard {
    display: flex;
    flex-direction: column;

    .keyboard-row {
        display: flex;
        flex-direction: row;
        justify-content: center;

        @media only screen and (min-width: 600px) {
            margin: 0.5rem;
        }

        .keyboard-key {
            margin: 0.2rem;
            background-color: b.$kb-key-bg-color;
            color: b.$kb-key-text-color;
            cursor: pointer;
            border-radius: 0.3rem;
            padding: 1rem 0.5rem;
            text-align: center;

            @media only screen and (min-width: 600px) {
                border-radius: 0.3rem;
                min-width: 1rem;
                padding: 1rem;
                margin: 0.2rem;
            }

            &:hover {
                opacity: 50%;
            }

            &.invalid {
                background-color: b.$kb-key-invalid-bg-color;
            }

            &.valid {
                background-color: b.$valid-bg-color;
            }

            &.partial-valid {
                background-color: b.$partial-valid-bg-color;
            }

            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
    }
}
